@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');

/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .delay-1{
		animation-delay: 0.1s;
	}
	.delay-2{
		animation-delay: 0.2s;
	}
	.delay-3{
		animation-delay: 0.3s;
	}
	.pre-Element{
		white-space:pre;
	}
  }